
<div class="container text-center py-5">
  <div class="container text-center py-5">
    <h1 class="display-4 mb-4 text-danger">About Supermarket Workers Management</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div>
          <h4 class="text-muted">Purpose</h4>
          <p>
            Supermarket Workers Management is a comprehensive application designed to streamline the management of workers
            in supermarkets. It provides tools for tracking employee information, managing roles and permissions, and
            optimizing workforce operations.
          </p>
        </div>
        <hr class="my-4">
        <div>
          <h4 class="text-muted">Key Features</h4>
          <ul class="list-unstyled">
            <li>Track worker details such as name, identity, role, and status</li>
            <li>Assign and manage roles and permissions for different employee levels</li>
            <li>View and update worker information with ease</li>
            <li>Generate reports on workforce performance and productivity</li>
          </ul>
        </div>
        <hr class="my-4">
        <div>
          <h4 class="text-muted">Technology Stack</h4>
          <p>
            Supermarket Workers Management is built using modern web technologies, including Angular for the frontend user
            interface and TypeScript for application logic. It utilizes a RESTful API architecture for seamless
            communication with the backend server.
          </p>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <div>
      <h4 class="text-muted">Contact Us</h4>
      <ul class="list-unstyled">
        <li>Phone: 123-456-7890</li>
        <li>Email:m0583253375@supermarket.com</li>
        <li>Address: 123 Main Street, Netanya, Israel</li>
      </ul>
    </div>
  </div>
  