<div class="jumbotron jumbotron-fluid text-center bg-primary text-white">
  <div class="container">
    <h1 class="display-4">Welcome to Workere Mangment App</h1>
    <p class="lead">Explore a wide range of courses and enhance your skills!</p>
    
  <!-- </div>
  <img [src]="image" alt="Course Image" class="card-img-bottom img-fluid rounded-3">
</div> -->
<footer style="background-color: #f8f9fa; padding: 20px;">
  <div class="container">
    <p style="font-size: 25px; text-align: center;">&copy; Maayan Goldshtein </p>
    <p style="font-size: 25px; text-align: center;"> Practicum Project 2024 Managment Workers App.</p>
  </div> 
</footer>


